.content h1{
    font-size: 80px;
    color: black;
    margin-left: 2.5%;
    margin-top:2.5% ;
    margin-bottom: 2.5%;

}
.content p {
    font-size: 25px;
    color: black;
    margin-left: 2.5%;

}
.content{
    background-color: rgb(238,238,238);
    margin-left:7%;
    margin-right: 7%;
    height: 400px;
    margin-top: 2.5%;
}
.content input{
    border:rgb(64,139,206);
    font-size: 20px;
    background-color:rgb(64,139,206);
    color: white;
    width: 90px;
    height: 40px;
    margin-left: 2.5%;
    border-radius: 5px;

}
